#corpo{
  background-color: lightblue;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#tituloprincipal{
  font-size: 48pt;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 30px;
}
}
.paragrafo{
  color: darkslategrey;
}
