#corpo{
  background-color: lightblue;
}
#tituloprincipal {
  color: darkolivegreen;
  font-size: 48pt;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  padding: 30px;
}
.main {
  display: block;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.left {
  padding: 10px;
  float: left;
  width: 15%;
}
.right {
  padding: 10px;
  float: right;
  width: 15%;
}
.paragrafo {
  text-indent: 5%;
  color: darkslategrey;
  text-align: justify;

}
.fonte {
  text-indent: 0%;
  text-align: left;
  margin-left: 2pt;
}
h3{
  text-indent: 0%;
  color: black;
  text-align: justify;
}
div{
  clear: both;
}
